.center
{
	margin-left:auto;
	margin-right:auto;
	width:70%;
	background-color:#b0e0e6;
	background-image: url(images.jpg);
	background-position:left;
	background-repeat:repeat;
}
.auto-style1 {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background-color: #73CEFB";
}
